<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /sunoffice/

  RewriteRule ^index\.html$ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /sunoffice/index.html [L]
</IfModule>
